<%= form_with(model: idea) do |form| %>
  <% if idea.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
        <% idea.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-4">
    <%= form.label :title, "タイトル", class: "form-label", style: "display: block" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="my-4">
    <%= form.label :description, "テキスト", class: "form-label", style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="my-4">
    <%= form.label :picture, "イメージ", class: "form-label", style: "display: block" %>
    <%= form.file_field :picture, class: "form-control" %>
  </div>

  <div class="my-4">
    <%= form.label :published_at, "日付", class: "form-label", style: "display: block" %>
    <%= form.date_field :published_at, class: "form-control dateh-u" %>
  </div>

  <div class="my-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
